<mat-card>
  <h1>{{ title }}</h1>
  <!-- TODO: Make sure all fields are properly filled -->
  <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Category Name</mat-label>
        <input matInput [(ngModel)]="editedCategoryData.displayNameEN" name="category_name" placeholder="Category Name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="foreign-language-field">
        <mat-label>שם קטגוריה בעברית</mat-label>
        <input matInput [(ngModel)]="editedCategoryData.displayNameHE" name="category_name_he" placeholder="שם קטגוריה בעברית">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-label><h3>Preview Image: </h3></mat-label>
      <input matInput
             type="file"
             id="browse-button"
             name="image_preview"
             (change)="handleFileInput($event.target.files)">
      <img *ngIf="routeType == 'edit' || uploadedFileURL !== null"
           [src]="getEditedImagePath()"
           alt="Image Preview"
           class="image-preview">
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="editedCategoryData.descriptionEN" name="description" placeholder="Category description..."></textarea>
      </mat-form-field>
      <mat-form-field class="foreign-language-field">
        <mat-label>תיאור בעברית</mat-label>
        <textarea matInput [(ngModel)]="editedCategoryData.descriptionHE" name="description_he" placeholder="תיאור הקטגוריה..."></textarea>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <!-- TODO: Change selected if edited -->
        <mat-label>Parent Category</mat-label>
        <mat-select matNativeControl [(ngModel)]="editedCategoryData.parentCategoryName" name="parent_category" required>
          <mat-option value="">-</mat-option>
          <mat-option  *ngFor="let category of dbCategories$ | async" value="{{ category.name }}">{{ category.displayNameHE }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      TODO: Labels
    </div>
    <div class="form-field">
      <button type="submit" mat-raised-button color="accent">{{ routeType == 'edit' ? 'Edit' : 'Add' }}</button>
    </div>
  </form>
</mat-card>
