.foreign-language-field {
  margin-left: 20px;
  input {
    direction: rtl;
    text-align: right;
  }
}

#browse-button {
  width: auto;
}

.image-preview {
  width: 200px;
  height: 200px;
  padding: 5px;
}
