/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f8f8;
}

.spaced {
  margin: 10px !important;
  padding: 30px !important;
}

.spacer {
  flex-grow: 1;
}

h1 {
  padding-top: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
