<mat-card class="spaced" id="category-container">
  <mat-card-title>{{ categoryContent.name }}</mat-card-title>
  <mat-card-subtitle>{{ categoryContent.description }}</mat-card-subtitle>
  <mat-card-content>
    <app-tabbed-subcategories [subcategories]="categoryContent.subcategories" [categoryColumns]="categoryColumns"></app-tabbed-subcategories>
    <app-display-grid [products]="categoryContent.products" [ourPicks]="categoryContent.ourPicks" [categoryColumns]="categoryColumns"></app-display-grid>
  </mat-card-content>
</mat-card>
