<h1>Products</h1>
<mat-grid-list [cols]="categoryColumns" rowHeight="200px">
  <mat-grid-tile class="grid-tile"
                 *ngFor="let product of products"
                 [routerLink]="['/product', product.id]">
    <mat-grid-tile-header>
      <span>{{ (product.currency === currency.USD) ? '$' : '₪' }}{{ product.price }}</span>
    </mat-grid-tile-header>
    <img src="assets/images/{{ product.image_path }}" alt="">
  </mat-grid-tile>
</mat-grid-list>
<h1>Our Picks for You</h1>
<mat-grid-list [cols]="categoryColumns" rowHeight="200px">
  <mat-grid-tile class="grid-tile"
                 *ngFor="let product of ourPicks"
                 [routerLink]="['/product', product.id]">
    <mat-grid-tile-header>
      <span>{{ (product.currency === currency.USD) ? '$' : '₪' }}{{ product.price }}</span>
    </mat-grid-tile-header>
    <img src="assets/images/{{ product.image_path }}" alt="">
  </mat-grid-tile>
</mat-grid-list>
