<mat-card>
  <h1>{{ title }}</h1>
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Product Name</mat-label>
        <input matInput [(ngModel)]="editedProductData.displayNameEN" name="product_name" placeholder="Jewelry Item Name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="foreign-language-field">
        <mat-label>שם המוצר בעברית</mat-label>
        <input matInput [(ngModel)]="editedProductData.displayNameHE" name="product_name_he" placeholder="שם המוצר בעברית">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-label><h3>Preview Image: </h3></mat-label>
      <input matInput
             type="file"
             id="browse-button"
             name="image_preview"
             (change)="handleFileInput($event.target.files)">
      <img *ngIf="routeType == 'edit' || uploadedFileURL !== null"
           [src]="getEditedImagePath()"
           alt="Image Preview"
           class="image-preview">
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Categories</mat-label>
        <mat-select multiple  name="parent_categories" [(ngModel)]="dbSelectedCategories" required>
          <mat-option *ngFor="let category of dbCategories$ | async"
                      [value]="category.name">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="editedProductData.descriptionEN" name="description" placeholder="Item description..."></textarea>
      </mat-form-field>
      <mat-form-field class="foreign-language-field">
        <mat-label>תיאור בעברית</mat-label>
        <input matInput [(ngModel)]="editedProductData.descriptionHE" name="description_he" placeholder="תיאור בעברית">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Stock</mat-label>
        <input matInput [(ngModel)]="editedProductData.stock" name="stock" type="number">
      </mat-form-field>
    </div>
    <div class="number-field form-field">
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="editedProductData.price" name="price" type="number" placeholder="400">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div>
      TODO: Labels
    </div>
    <div>
      TODO: Related Products
    </div>
    <div class="form-field">
      <button type="submit" mat-raised-button color="accent">Submit</button>
    </div>
  </form>
</mat-card>
