<mat-card>
  <h1>Add a Jewelry Item</h1>
  <form #productForm=ngForm (ngSubmit)="onSubmit(productForm)">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput ngModel name="product_name" placeholder="Jewelry Item Name">
      </mat-form-field>
    </div>
    <div class="number-field form-field">
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput ngModel name="price" type="number" placeholder="400">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-label>Image</mat-label>
      <input matInput type="file" id="browse-button" (change)="handleFileInput($event.target.files)">
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput ngModel name="description" placeholder="Item description..."></textarea>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Stock</mat-label>
        <input matInput ngModel name="stock" type="number">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <select matNativeControl ngModel name="category" required>
          <option value="brooches">Brooches</option>
          <option value="paintings">Paintings</option>
        </select>
      </mat-form-field>
    </div>
    <div>
      TODO: Labels
    </div>
    <div>
      TODO: Related Products
    </div>
    <div class="form-field">
      <button type="submit" mat-raised-button color="accent">Submit</button>
    </div>
  </form>
</mat-card>
