<h1>Subcategories</h1>
<mat-tab-group animationDuration="500ms">
  <mat-tab label="First">
    <mat-grid-list [cols]="categoryColumns" rowHeight="200px">
      <mat-grid-tile class="grid-tile">
        <mat-grid-tile-header>
          <span>$24.05</span>
        </mat-grid-tile-header>
        <img src="assets/images/test_image1.jpg" alt="">
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span>$24.05</span>
        </mat-grid-tile-header>
        <img src="assets/images/test_image1.jpg" alt="">
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span>$24.05</span>
        </mat-grid-tile-header>
        <img src="assets/images/test_image1.jpg" alt="">
      </mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
      <mat-grid-tile>5</mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
