<h1>Subcategories</h1>
<mat-tab-group animationDuration="500ms">
  <mat-tab *ngFor="let subcategory of subcategories" label="{{ subcategory.name }}">
    <mat-grid-list [cols]="categoryColumns" rowHeight="200px">
      <mat-grid-tile *ngFor="let product of subcategory.products"
                     class="grid-tile"
                     [routerLink]="['/product', product.id]">
        <mat-grid-tile-header>
          <span>{{ (product.currency === currency.USD) ? '$' : '₪' }}{{ product.price }}</span>
        </mat-grid-tile-header>
        <img src="assets/images/{{ product.image_path }}" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
