<div id="cart-item">
  <img id="item-image" src="assets/images/test_image1.jpg" alt="">
  <div id="item-contents">
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at debitis eligendi eos explicabo fugiat inventore iure maxime modi necessitatibus, nostrum perspiciatis, ratione rem sapiente sequi, sint suscipit. Ab, error!</span>
    <br>
    <span id="item-count"><mat-icon>add</mat-icon> 5 <mat-icon>remove</mat-icon></span>
  </div>
  <div id="item-price">
    <h3>$19.06</h3>
  </div>
</div>
<div id="cart-notes">
  <mat-form-field>
    <mat-label>Add a note to seller (optional)</mat-label>
    <textarea matInput name="" id=""></textarea>
  </mat-form-field>
</div>
