<div id="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="title-row">
      <span class="title">{{title}}</span>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           (click)="hoverMenuService.activeLink = link.name"
           [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="link"
           [active]="hoverMenuService.activeLink == link.name"
           (mouseenter)="hoverMenuService.enterMenuHeader(link.menuName)"
           (mouseleave)="hoverMenuService.leaveMenuHeader(link.menuName)"
           [routerLink]="[]"
           disableRipple
           *ngFor="let link of links">
          {{ link.name }}
        </a>
        <mat-menu hasBackdrop="false" #appMenu="matMenu">
          <ng-template matMenuContent let-childLinks="childLinks" let-name="name" let-menuName="menuName">
          <span (mouseenter)="hoverMenuService.enterMenuBody(menuName)" (mouseleave)="hoverMenuService.leaveMenuBody(menuName)">
            <button *ngFor="let childLink of childLinks"
                    mat-menu-item
                    (click)="hoverMenuService.activeLink = name"
                    [routerLink]="[childLink.url]">
              <span>{{ childLink.name }}</span>
            </button>
          </span>
          </ng-template>
        </mat-menu>
        <!--
        <a mat-tab-link [matMenuTriggerFor]="menu1" active="active" disableRipple>
          הוסף
          <mat-menu #menu1="matMenu">
            <button mat-menu-item><span>קטגוריה</span></button>
            <button mat-menu-item><span>מוצר</span></button>
          </mat-menu>
        </a>
        <a mat-tab-link [matMenuTriggerFor]="menu2" disableRipple>
          ערוך
          <mat-menu #menu2="matMenu">
            <button mat-menu-item><span>קטגוריה</span></button>
            <button mat-menu-item><span>מוצר</span></button>
          </mat-menu>
        </a>
        <a mat-tab-link [matMenuTriggerFor]="menu3" disableRipple>
          שונות
          <mat-menu #menu3="matMenu">
            <button mat-menu-item><span>עורך דף הבית</span></button>
            <button mat-menu-item><span>כניסות</span></button>
            <button mat-menu-item><span>משלוחים</span></button>
            <button mat-menu-item><span>הודעות</span></button>
          </mat-menu>
        </a>
        -->
      </nav>
      <span class="title-row-actions">
    </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div id="body-container">
    <router-outlet></router-outlet>
  </div> <!-- #body-container -->
  <mat-toolbar id="footer" color="primary">
    <span id="footer-copyright">&#169;2021 Shira Studio</span>
    <span id="footer-icons">
    <mat-icon>contact_support</mat-icon>
    <mat-icon>share</mat-icon>
  </span>
  </mat-toolbar>
</div> <!-- #container -->
