#container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 100%;
}

#body-container {
  flex-grow: 1;
}

title-row {
  display: flex;
  flex-direction: row;
}

span.title {
  margin-right: 30px;
}

a.title {
  text-decoration: none;
  color: white;
}

nav {
  flex-grow: 1;
}

nav a {
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.title-row-actions {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  mat-form-field {
    font-size: 10pt;
  }
  .search-bar-icon {
    font-size: 11pt;
  }
}

#footer {
  justify-content: center;
}
