<div id="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="title-row">
      <a class="title" [routerLink]="['/admin']">{{ title }}</a>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           (click)="hoverMenuService.activeLink = link.name"
           [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="link"
           [active]="hoverMenuService.activeLink == link.name"
           (mouseenter)="hoverMenuService.enterMenuHeader(link.menuName)"
           (mouseleave)="hoverMenuService.leaveMenuHeader(link.menuName)"
           [routerLink]="(link.url === undefined) ? [] : ['/admin', link.url]"
           disableRipple
           *ngFor="let link of links">
          {{ link.name }}
        </a>
        <mat-menu hasBackdrop="false" #appMenu="matMenu">
          <ng-template matMenuContent let-childLinks="childLinks" let-name="name" let-menuName="menuName">
          <span (mouseenter)="hoverMenuService.enterMenuBody(menuName)" (mouseleave)="hoverMenuService.leaveMenuBody(menuName)">
            <button *ngFor="let childLink of childLinks"
                    mat-menu-item
                    (click)="hoverMenuService.activeLink = name"
                    [routerLink]="['admin', childLink.url]">
              <span>{{ childLink.name }}</span>
            </button>
          </span>
          </ng-template>
        </mat-menu>
      </nav>
      <span class="title-row-actions">
    </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div id="body-container">
    <router-outlet></router-outlet>
  </div> <!-- #body-container -->
  <mat-toolbar id="footer" color="primary">
    <span id="footer-copyright">&#169;2021 Shira Studio</span>
    <span id="footer-icons">
    <mat-icon>contact_support</mat-icon>
    <mat-icon>share</mat-icon>
  </span>
  </mat-toolbar>
</div> <!-- #container -->
