.mat-toolbar {
  height: 45px;
  justify-content: center;
  align-items: center;
  span {
    padding: 0 5px;
  }
}

#footer-copyright {
  font-size: 11pt;
  line-height: 11pt;
}

#footer-icons {
  display: inline-block;
  height: 24px;
}
