<div id="dashboard-container">
  <div id="summary-row">
    <mat-card class="summary-cell">
      <mat-icon class="summary-icon">account_balance</mat-icon>
      <div><span>Mothly Income</span></div>
    </mat-card>
    <mat-card class="summary-cell">
      <mat-icon class="summary-icon">account_balance</mat-icon>
      <div><span>Mothly Users</span></div>
    </mat-card>
    <mat-card class="summary-cell">
      <mat-icon class="summary-icon">account_balance</mat-icon>
      <div><span>Mothly Clients</span></div>
    </mat-card>
    <mat-card class="summary-cell">
      <mat-icon class="summary-icon">account_balance</mat-icon>
      <div><span>Mothly Likes</span></div>
    </mat-card>
  </div>
  <div id="statistics-row">
    <mat-card id="active-users">
      Active
      TODO: Use ngx-charts - advanced pie chart
    </mat-card>
    <mat-card id="sales-overview">
      Sales
      TODO: Use ngx-charts stacked vertical bar chart
    </mat-card>
  </div>
  <div id="actions-row">
    <mat-card>
      <mat-icon>add</mat-icon>
      <a routerLink="add-product"><h3>Add Product</h3></a>
    </mat-card>
    <mat-card>
      <mat-icon>add</mat-icon>
      <a routerLink="add-category"><h3>Add Category</h3></a>
    </mat-card>
    <mat-card>
      <mat-icon>category</mat-icon>
      <a routerLink="edit-categories"><h3>Categories List</h3></a>
    </mat-card>
    <mat-card>
      <mat-icon>storefront</mat-icon>
      <a routerLink="edit-products"><h3>Category Products</h3></a>
    </mat-card>
    <mat-card>
      <mat-icon>mode_edit</mat-icon>
      <h3>Modify Pages</h3>
    </mat-card>
  </div>
  <!-- TODO: Live Row -->
</div>
