<div id="dashboard-container">
  <div id="summary-row">
    <div class="summary-cell">
      <mat-icon class="summary-icon">account_balance</mat-icon>
      <div><span>Mothly Income</span></div>
    </div>
    <div class="summary-cell">
      <mat-icon class="summary-icon">account_balance</mat-icon>
      <div><span>Mothly Users</span></div>
    </div>
    <div class="summary-cell">
      <mat-icon class="summary-icon">account_balance</mat-icon>
      <div><span>Mothly Clients</span></div>
    </div>
    <div class="summary-cell">
      <mat-icon class="summary-icon">account_balance</mat-icon>
      <div><span>Mothly Likes</span></div>
    </div>
  </div>
  <div id="statistics-row">
    <div id="active-users">

    </div>
    <div id="sales-overview">

    </div>
  </div>
  <div id="actions-row">
    <div>Add Item</div>
    <div>Show Categories List</div>
    <div>Show Category Items</div>
    <div>Modify Pages</div>
  </div>
  <!-- TODO: Live Row -->
</div>
