<mat-card class="spaced">
  <mat-card-title>Product Title</mat-card-title>
  <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deserunt ducimus excepturi explicabo hic illo itaque, nemo numquam omnis perspiciatis quaerat quidem quisquam quod rem, repudiandae totam voluptate voluptates.</mat-card-subtitle>
  <mat-card-actions>
    <div id="info-line">
      <h2>$24.24</h2>
      <span class="spacer"></span>
      <span><mat-icon>done</mat-icon> <h3>In Stock</h3></span>
    </div>
    <button id="cart-button" mat-flat-button color="primary">Add to Cart</button>
  </mat-card-actions>
  <mat-card-content>
    <h3>Description</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem beatae consequatur doloremque doloribus enim esse est labore minima molestias numquam odit, officiis, perferendis possimus quidem repudiandae sequi voluptatibus! Ratione!
  </mat-card-content>
</mat-card>
